/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

body{
    background-color: RGB(30,30,30);
}

  .alertify-notifier .ajs-message.ajs-success {
    background: rgba(59, 112, 71, 0.95);
  }
  .alertify-notifier .ajs-message.ajs-error {
    background: rgba(155, 68, 68, 0.95);
  }
 