.addNote{
    display: flex;
    justify-content: center;
    align-items: center;
    color: dodgerblue;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(45,45,45);
    cursor: pointer;

}