.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-brand{

    margin-right: auto;
    padding-left: 3px;
    font-weight: bold;
    color: dodgerblue !important;
}

.navbar{
    background-color: RGB(45,45,45);
}

.title-user{
    color: white !important;
}

.darkmenu{
    background-color: RGB(73,73,73);
    color: white;
}