<nav class="navbar justify-content-end">
  <a class="navbar-brand" [routerLink]="['/home']">TodayNotes</a>
  <div *ngIf="!loggedIn()" class="d-none d-md-block">
      <button type="button" [routerLink]="['/signin']"
      routerLinkActive="router-link-active" 
      class="btn btn-primary pr-5 pl-5 mr-2">Sign in</button>
    <button type="button" [routerLink]="['/register']"
    class="btn btn-outline-primary p-2">Create an account</button>
  </div>
  <div *ngIf="loggedIn()" class="dropdown mr-3" dropdown>
    <a dropdownToggle class="dropdown-toggle title-user">
      Welcome {{this.auth.decodedToken?.unique_name | titlecase}}
    </a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" (click)="settings()">
                <i class="fa fa-user"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
                <i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

</nav>


